.rating-container {
  width: 50%;
  height: 50px;
  margin: auto;
}

.rating-star-container {
  width: 90%;
  height: 100%;
  float: left;
}
.item-rating {
  font-size: 15px;
  font-weight: normal;
  color: #004990;
  margin-left: 90%;
  height: 100%;
  text-align: start;
  padding-top: 6px;
  padding-left: 5px;
}
